config/RSSfeeds_without_tags.json
config/RSSfeeds_test.json
tmp_test_obj/
__pycache__/
.idea/
.pytest_cache/
log/
/note.md
venv/
results/
data/
novelties_detection/Experience/ThematicsGen.py
novelties_detection/Experience/visualisation_resultats.py
novelties_detection/Experience/randomKwargsGen.py
novelties_detection/Experience/main_macro_selection.py
novelties_detection/Experience/main_micro_selection.py
novelties_detection/Experience/config/
